{
  "myNumberCredentials": {
    "accessKeyId": "YOUR_MY_NUMBER_ACCESS_KEY_ID",
    "secretSigningKey": "YOUR_MY_NUMBER_SECRET_SIGNING_KEY", 
    "secretCryptoAccessKey": "YOUR_MY_NUMBER_SECRET_CRYPTO_ACCESS_KEY",
    "datasetName": "mynumber"
  },
  "generalCredentials": {
    "accessKeyId": "YOUR_GENERAL_ACCESS_KEY_ID",
    "secretSigningKey": "YOUR_GENERAL_SECRET_SIGNING_KEY",
    "secretCryptoAccessKey": "YOUR_GENERAL_SECRET_CRYPTO_ACCESS_KEY",
    "datasetName": "general"
  }
} 